.app_SideBar {
    width: 250px;
    height: 100vh;
    box-shadow: 1px 2px 4px 4px rgb(219, 219, 219);
    position: relative;
    transition: .5s ease;

    .app__icon {
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
    }
    .app__logo {
        position: absolute;
        top: 10%;
        left: 30%;

        img {
            width: 70px;
            height: 70px;
        }

        p{
            position: absolute;
            font-size: 20px;
            top: 55px;
            font-weight: bold;
            
        }
    }

    .app__sidebar__Links {
        width: 90%;
        height: 420px;
        position: absolute;
        bottom: 2%;
        left: 5%;
        padding-top: 10px;
        

        .app__sidebar__underLinks {
            width: 100%;
            height: 55px;
            border: 1px solid black;
            margin: 0 auto;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-bottom: 10px;


            p {
                    font-size: 20px;
            }
            
        }
    }

    @media (max-width:990px) {
        width: 60px;
        .app__icon {
            display: block;

            svg {
                font-size: 20px;
            }
        }
        .app__logo {
            position: absolute;
            top: 80px;
            left: 10px;
            img {
                width: 40px;
                height: 40px;
            }
            p {
                display: none;
            }
        }
        .app__sidebar__Links {
            width: 80%;
            position: absolute;
            left: 4px;
            .app__sidebar__underLinks  {
                p {
                    display: none;
                }
            }
        }
    }
}

